.reports-admin{

    background:white;

    padding:30px;

    border-radius:12px;

}



.reports-admin h1{

    margin-bottom:30px;

    color:#111827;

}



.reports-cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

}



.report-card{

    background:#f8fafc;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}



.report-card h3{

    color:#6b7280;

    margin-bottom:15px;

}



.report-card p{

    font-size:28px;

    font-weight:bold;

    color:#2563eb;

}