.admin-layout{

    min-height:100vh;

}



.admin-main{

    margin-left:250px;

    transition:0.3s;

}



.admin-main.collapsed{

    margin-left:80px;

}



.menu-btn{

    position:fixed;

    top:15px;

    left:270px;


    width:40px;

    height:40px;


    border:none;

    border-radius:8px;


    background:#2563eb;

    color:white;


    font-size:22px;

    cursor:pointer;


    z-index:1000;

}



.admin-main.collapsed .menu-btn{

    left:100px;

}



.admin-body{

    padding:30px;

    margin-top:50px;

    background:#f3f4f6;

    min-height:100vh;

}