.admin-profile{

    width:450px;

    margin:40px auto;

    background:white;

    padding:35px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 20px rgba(0,0,0,0.12);

}



.admin-profile h1{

    margin-bottom:25px;

    color:#111827;

}



.admin-profile-image{

    width:160px;

    height:160px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #2563eb;

}



.admin-no-image{

    width:160px;

    height:160px;

    border-radius:50%;

    margin:auto;

    display:flex;

    align-items:center;

    justify-content:center;

    background:#e5e7eb;

    color:#6b7280;

}



.admin-profile h2{

    margin-top:20px;

    color:#1f2937;

}



.admin-profile p{

    color:#4b5563;

    font-size:16px;

}



.admin-role{

    display:inline-block;

    margin-top:15px;

    padding:8px 20px;

    background:#2563eb;

    color:white;

    border-radius:20px;

    font-weight:bold;

}