.add-category{

    padding:40px;

}



.add-category form{

    width:350px;

    display:flex;

    flex-direction:column;

    gap:20px;

}



.add-category input{

    padding:12px;

    border:1px solid #ccc;

    border-radius:6px;

}



.add-category button{

    background:#2563eb;

    color:white;

    border:none;

    padding:12px;

    border-radius:6px;

    cursor:pointer;

}
.category-preview{

    width:200px;

    height:150px;

    object-fit:cover;

    border-radius:10px;

    margin:15px 0;

}

